# Data Science Tools and Ecosystem

## Author
Tivendren Sugumaren

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-Python
-R
-SQL
-Java

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Java

Some of the commonly used libraries used by Data Scientists include:
1.TensorFlow
2.NumPy
3.Pandas
4.Matplotlib
5.Pytorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Tableau|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
hours

3.3333333333333335